<ion-header>
  <ion-toolbar>
    <ion-title>Logs de Irrigación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-breadcrumb>
    <ion-breadcrumbs>
      <ion-breadcrumb href="/">Dispositivos</ion-breadcrumb>
      <ion-breadcrumb href="{{[deviceId] | buildUrl:'device' }}">Dispositivo {{ electrovalveId }}</ion-breadcrumb>
      <ion-breadcrumb>Logs</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-breadcrumb>
  <div *ngIf="!isLoading; else loading">
    <ion-list *ngIf="logs.length > 0; else noLogs">
      <ion-item *ngFor="let log of logs">
        <ion-label>
          <h3>Electroválvula: {{ log.electrovalvulaId }}</h3>
          <p>Fecha: {{ log.fecha | date:'medium' }}</p>
          <p>Acción: {{ log.apertura ? 'Apertura' : 'Cierre' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-spinner name="dots"></ion-spinner>
  </ng-template>

  <ng-template #noLogs>
    <p>No se encontraron logs para este dispositivo.</p>
  </ng-template>
</ion-content>
