.breadcrumb-width{
    width: 33%;
}

.measurements-title{
    text-align: center;
    margin: 10px;
}

.measurements-list{
    margin-top: 20px;
}

.measurement-element{
    padding-left: 12px;
    padding-right: 12px;
}